
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--c1);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--c1);
}

::-webkit-scrollbar-thumb {
    background: var(--c7);
}


.nodrag{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

:root {
    --c1:#ffffff;   /*     white       */ 
    --c2:#000000;   /*     black       */
    --c3:#3d5a80;         /*                 */
    --c4:#98c1d9 ;         /*                 */
    --c5:#e0fbfc ;         /*                 */
    --c6:#ee6c4d ;         /*                 */
    --c7:#293241 ;         /*                 */
    --c8:#f37934 ;         /*                 */
    --c9: ;         /*                 */
    --c10:;                              

        --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #9796f0;
    --blue: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: consolas;     
}

.c1{color:#ffffff;}
.c2{color:#000000;}
.c3{color:#3d5a80;}
.c4{color:#98c1d9;}
.c5{color:#e0fbfc;}
.c6{color:#ee6c4d;}
.c7{color:#293241;}
.c8{color:#f37934;}
.c9{color:;}
.c10{color:;}


.bgc1{background-color:#ffffff;}
.bgc2{background-color:#000000;}
.bgc3{background-color:#3d5a80;}
.bgc4{background-color:#98c1d9;}
.bgc5{background-color:#e0fbfc;}
.bgc6{background-color:#ee6c4d;}
.bgc7{background-color:#293241;}
.bgc8{background-color:#f37934;}
.bgc9{background-color:;}
.bgc10{background-color:;}


#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: fixed;
    min-height: 100vh;
    animation: bg ease-in 2.5s forwards 2s;
    z-index: 50;
}



.fon1{
}

.fon2{
}

.fon3{
}
/*Mobile Devices*/
@media only screen and (max-width: 575px) {
    
}

@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 768px) {}
/*medium devices*/
@media only screen and (max-width: 1024px){}
/*Large devices*/
@media only screen and (min-width: 1281px){
  .box{
  transform: translateX(50%) !important;
  padding: 40px !important;
  margin: 20px !important;
}
}



#sec{
    width: 100%;
    height: 100vh;
    background-color: var(--c1);
}

#sec2{
    width: 100%;
    height: 100vh;
    background-color: var(--c4);
}

#sec1{
    width: 100%;
    height: 100vh;
    background-color: var(--c5);
}

#sec3{
    width: 100%;
    height: 100vh;
    background-color: var(--c6);
}

#sec4{
    width: 100%;
    height: 100vh;
    background-color: var(--c5);
}

/*footer{
    width: 100%;
    background-color: var(--c7);
}
*/

.container{
/*  max-width: 1170px;*/
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
  margin-left: -30px;
}
.footer{
  background-color: var(--c7);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: var(--c4);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .social-links a i{
  padding-top: 10px;
  font-size: 1.3em;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




.navbar{
  background-color: var(--c7);
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

nav{
    background-color: transparent;
}


.nav-link{
    color: var(--c1);
    font-size: 1.0em;
}

.navbarsm{
  z-index: 5!important;
}

.nav-item a {
    padding: 8px 8px 8px 64px;
    font-size: 17px;
    color: var(--c1);
    display: block;
    cursor: pointer !important;
}

.nav-item a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c4);
    transition: 300ms;
}

.nav-item a:hover::after {
    width: 65%;
}

.nav-item a:hover,
#mainbox:hover {
    color: var(--c4);
    transition: .5s;
}

#mainbox {
    font-size: 1.8em;
    transition: all .6s;
    position: fixed;
    right: 20px;
    top: 1px;
    color: var(--c10);
    cursor: pointer !important;

}

.sidemenu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    background-color: var(--c7);
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    font-size: 20px;
    color: var(--c1);
    display: block;
    cursor: pointer !important;
}

.sidemenu a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c4);
    transition: 300ms;
}

.sidemenu a:hover::after {
    width: 15%;
}

.sidemenu a:hover,
#mainbox:hover {
    color: var(--c4);
    transition: .5s;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 80%;
    font-size: 36px;
    margin-left: 32px;
    color: var(--c1);
    cursor: pointer;
    z-index: 10 !important;
}

/*input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--c1);
}*/

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float2{
    position:fixed;
    width:60px;
    height:60px;
    bottom:120px;
    right:40px;
    background-color:var(--c7);
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
    margin-top:16px;
}

.upbtn {
    position:fixed;
    width:60px;
    height:60px;
    bottom:110px;
    right:40px;
    background-color:var(--c7);
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 1px 1px 1px #999;
  z-index:100;
}

.bad:hover{
    background-color: var(--c1);
    color: var(--c2) !important;
    text-decoration: none;
    transition: .5s;
    border-radius: 5px;
}


.nav-ite a {
    padding: 8px 8px 8px 64px;
    font-size: 17px;
    color: var(--c1);
    display: block;
    cursor: pointer !important;
    transition: .5s;
    border-radius: 5px;
}

.cpy{
  position: relative;
  font-size: 13px;
    color: var(--c1);
    opacity: .5;
    top: 50px;
    transition: .5s ease;
    cursor: pointer;
}

.cpy:hover{
  opacity: 1;
  transition: .5s ease;
}






.contianers {
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
  }
  .calendar {
    height: 610px;
    width: max-content;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
  }
  .calendar {
    box-shadow: var(--shadow);
  }
  .calendar-header {
    background: #9796f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    padding: 10px;
  }
  .calendar-body {
    pad: 10px;
  }
  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color:rgb(104, 104, 104);
  }
  .calendar-week-days div:hover {
  color:black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  }
  .calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
  }
  .calendar-days div {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .month-picker:hover {
    background-color: var(--color-hover);
  }
  .month-picker:hover {
    color: var(--color-txt);
  }
  .year-picker {
    display: flex;
    align-items: center;
  }
  .year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
  }
  .year-change:hover {
    background-color: var(--light-btn);
    transition:all .2s ease-in-out ;
    transform: scale(1.12);
  }
  .year-change:hover pre {
    color: var(--bg-body);
  }
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
  }
  .calendar-days div span {
    position: absolute;
  }
   .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #fbc7d4;
    border-radius: 20%;
    color: var(--dark-text);
  }
  .calendar-days div.current-date {
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
  }
  .month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  .month-list.hideonce{
    visibility: hidden;
  }
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  .date-time-formate {
    width: max-content;
    height: max-content;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: inline;
    top: 140px;
    justify-content: center;
  }
  .day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
    position: absolute;
    left: -1rem;
  }
  .date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -18px;
    text-align: center;
  }
  .time-formate {
    font-size: 1.5rem;
  }
  .time-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  .date-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.showtime{
    animation: showtime 1s forwards;
  }
  .time-formate.showtime {
    animation: showtime 1s forwards;
  }
  .date-formate.showtime {
    animation: showtime 1s forwards;
  }
  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }
  @media (max-width:375px) {
    .month-list>div{
  
      margin: 5px 0px;
    }
  }




  #wedp1{
    position: relative;
    width:100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--c1);
  }

  .content{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
  }

#wedp1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background: linear-gradient(45deg,var(--c4),var(--c7));*/
/*  background: var(--c7);*/
background-image: url(pictures/wedimg.jpg);

  border-radius: 0 0 40% 40%;
  transform: scaleX(1.5);
}

#wedp2{
  width: 100%;
padding-bottom: 5%;
  background-color: var(--c1);
}

.head{
  font-size: 2em;
  padding-top: 5%;
  letter-spacing: 2px;
}

 #wedp3{
    position: relative;
    width:100%;
    height:90%;
    overflow: hidden;
  }

#wedp3:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--c7);
  border-radius: 40% 40% 0 0;
  transform: scaleX(1.5);
}

.box{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 5%;
  background-color: var(--c1);
  transition: .5s;
  box-shadow: 0px 11px 25px 0px rgba(49, 49, 49, 0.19) ;
}

.box:hover{
  scale: 1.02;
  transition: .5s;
  cursor: pointer;
}


.services{
  color: var(--c1);
  font-size: 1.2em;
  z-index: 2;
}
.subhead{
  font-size: 3em;
  z-index: 2;
  letter-spacing: 2px;
}

.line{
  width: 80%;
  height: 2px;
  background-color: var(--c1);
}


#wedp4{
  padding: 5%;
  width: 100%;
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(pictures/formbg.jpg);
}

.swiper-container{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide{
position: absolute;
  height: 50vh;
  background: var(--c1);
  -webkit-box-reflect: none;
}

.swiper{

}

.contactbox{
  width: 100%;
  height: 60vh;
  background-color: var(--c1);
  color: var(--c2);
  border-radius: 24px;
  box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.5);
}



.cusform input,textarea{
    border: none;
    background-color:transparent;
    border-bottom: 1px solid #0f33ff;;
    outline: none;
    height: 4px;
    width: 100%;
    padding: 15px;
    margin: 5px;
    color: var(--c2);
    font-family: 'Mitr', sans-serif;
}

.cusform input:focus, textarea:focus{
    border-bottom: 1px solid var(--c7);
}

.cusform input::placeholder, textarea::placeholder {
    font: 12px sans-serif;
}

.but {
    border: 1px solid #0f33ff;
    padding: 10px 20px;
    min-width: 200px;
    cursor: pointer;
    transition: color .5s linear;
    position: relative;
    z-index: 5;
    box-shadow: 0 10px 25px -20px rgba(255, 255, 255, 0.2);
}

.but:hover {
    border-color: var(--c2);
    color: var(--c1);
}

.but::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--c7);
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    ;
}

.but::before {
    transform: scaleX(0);
    transition: transform .5s;
    transition-duration: .8s;
    transform-origin: 0 0;
}

.but:hover::before {
    transform: scaleX(1);

}